body{
    background-color: #ffd14c;
   
}
#fondo{
    display: flex;
    flex-direction: column;
}
.div{
    background-color: #ff5d4c;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

}
.div > h1 , h2{
    color: #a77224;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ff5d4c;
    padding: 10px;
    border: 2px solid black;

}
.container img{
    background-color: gainsboro;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px solid black;
}

img:hover{
    border: 2px  black;
}
img{
    height: auto;
    width: 300px;
}